@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Date";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Date</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Date">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="TempStart" class="control-label">Temporary Suspended Pickup Start Date</label>
                <input asp-for="TempStart" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TempEnd" class="control-label">Temporary Suspended Pickup End Date</label>
                <input asp-for="TempEnd" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OneTimePickup" class="control-label">One Time Extra Pick Up Day</label>
                <input asp-for="OneTimePickup" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

